---
layout: default
title: GitLab for Enterprise - Collaboration made easy
description: "Accelerate Enterprise software delivery with GitLab’s complete DevOps platform, lowering your development costs and streamlining team collaboration"
canonical_path: "/enterprise/"
image_title: '/images/enterprise/open-graph-enterprise.png'
twitter_image: "/images/enterprise/open-graph-enterprise.png"
disable_default_styles: true
disable_fontawesome: true
disable_tinyslider: true
disable_handbook_styles: true
disable_tweenmax: true
suppress_header: true
data_identifier: Enterprise
hover_block_title: "Speed. Efficiency. Trust."
hover_block_subtitle: "GitLab helps enterprises innovate quickly with all-in-one CI/CD, source code management, and security."
feature_list_title: "How does GitLab help these companies become more productive, efficient and effective?"
feature_list_subtitle: "A complete DevOps platform improves a lot more than the bottom line."
extra_css:
  - enterprise.css
google_optimize: false
---

.container.container2020#intro
  .row.u-padding-top-md.u-padding-bottom-md
    .col-md-6.u-padding-top-sm
      .row
        .col-md-12.u-margin-bottom-sm
          %h1.u-margin-bottom-xxs GitLab for Enterprise
          %h3 One application, endless possibilities. Our complete DevOps Platform grows with you.
      .row.u-margin-bottom-xs
        .col-md-12
          %p.btn-height.u-margin-bottom-0.hero-content
            = link_to "Start your free trial", "/free-trial/", class: "btn orange cta-btn u-margin-right-0" 
            = link_to "Contact sales", "/sales/", class: "btn cta-btn btn-light"
        .mobile-adaptive-show-under-lg
          %img{src: "/images/enterprise/gitlab-enterprise-header-flow-mobile.png", alt: "Image: version control", loading: "lazy", style: "max-height: 362px;"}
      .row
        .col-md-12
          %p.u-margin-bottom-0.deepmhasized Trusted by enterprises, loved by developers.
      .row
        .col-md-12
          = image_tag "/images/customers/logo_ticketmaster_2_color.svg", alt: "Ticketmaster logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_siemens_color.svg", alt: "Siemens logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_equinix_2_color.svg", alt: "Equinix logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_nvidia_color.svg", alt: "NVIDIA logo", loading: "lazy", class: "intro-organization-logo"
    .col-md-6
      .mobile-adaptive-hide-under-lg
        %img{src: "/images/enterprise/gitlab-enterprise-header-flow-desktop.png", alt: "Image: version control", loading: "lazy", style: "max-height: 362px;"}

.row#ship-features-faster
  .container.container2020
    = partial "includes/components/hover-blocks"

.row#free-gitlab-trial
  .container.container2020
    = partial "includes/components/cta-trial"

.row#customers
  .container.container2020
    = partial "includes/components/customer-highlight-trio"

.row#how-does-gitlab-help.highlight-gray.flattop
  .u-padding-top-md.u-padding-bottom-md
    .container.container2020
      = partial "includes/components/feature-list"

.row#ask-us-anything
  .u-padding-top-md
    .container.container2020
      = partial "includes/components/cta-contact"
