---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
extra_css:
  - pricing.css
manual_cookiebot: true
---
.pricing-page
  .container
    .header
      %h1 Choose a plan that suits your needs
      %p All plans have unlimited collaborators and <br/> private or public repositories

    = partial "/experiments/structure", locals: { experiment_id: "37", experiment_flag: "pricing-37" }
    -# = partial "/includes/pricing-control"


    = partial 'includes/home/customer-logos-transparent'


    .row.faq
      %h2 Frequently asked questions
      .faq-holder
        - size = (data.pricing.questions.size / Float(2)).ceil
        - data.pricing.questions.each_slice(size) do |group|
          = partial 'includes/layout/question_group', locals: { group: group }


    .contact
      %h1 Still have questions? Get in touch.
      = link_to 'Contact Sales', '/sales/', class: 'btn'

